Source: idg-api
Section: science
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 cmake,
 debhelper (>=9),
 libidg-dev,
 liblapack-dev,
 libblas-dev
Standards-Version: 3.9.8
Homepage: https://gitlab.com/astron-idg/idg-api

Package: idg-api-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libidg-api0 (= ${binary:Version})
Description: WSClean interface for the IDG proxy interface, development files

Package: libidg-api0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: WSClean interface for the IDG proxy interface
